
<% if(locals.user) { %> 
<section>
    <h4>Create a Tweet!</h4>
    <form action="/tweets/create" method="POST">
        <textarea name="content" id="" cols="30" rows="10" placeholder="Your Tweet..." required></textarea>
        <input type="submit" value="create tweet ">
    </form>
</section>

<% } %> 

<div>
    <ul>
        <% for(tweet of tweets){ %> 
            <%- include('./tweets/_tweet'); %>
        <% } %> 
    </ul>
</div>

<section>
    <h4>Users</h4>
    <ul>
        <% for(user of users){ %> 
            <li><a href="/users/profile/<%=user.id%>"><%= user.name %> </a></li>
            <% } %> 
    </ul>
</section>

